In [19]:
import pandas as pd

In [20]:
dataco2  = pd.read_excel('./CO2 emissions defined period.xlsx', sheet_name = "Cleaned data")

In [21]:
dataco2.describe()

,Year,SP_URB_TOTL,NY_GDP_MKTP_CD,EN_ATM_CO2E_KT,BX_KLT_DINV_WD_GD_ZS,SH_DYN_MORT,EG_USE_PCAP_KG_OE,EN_ATM_CO2E_PC,NY_GNP_PCAP_CD,SP_POP_TOTL,AG_YLD_CREL_KG
count,1050.000000,1.050000e+03,1.037000e+03,9.380000e+02,1020.000000,1050.000000,1023.000000,938.000000,1008.000000,1.050000e+03,977.000000
mean,2000.000000,4.769297e+07,6.834790e+11,4.486750e+05,2.949986,28.232286,2942.187468,7.114097,12303.660714,9.745370e+07,3639.041556
std,6.058186,7.942778e+07,1.631677e+12,9.619733e+05,5.141633,32.668525,2231.916248,5.505714,13571.260538,2.208569e+08,1838.799269
min,1990.000000,1.430636e+06,6.471740e+09,5.500500e+01,-32.195689,3.000000,367.582225,0.000692,110.000000,1.808642e+06,363.100000
25%,1995.000000,9.559523e+06,7.528469e+10,7.233066e+04,0.805630,6.825000,1133.884221,3.266431,1647.500000,1.531449e+07,2289.200000
50%,2000.000000,2.303054e+07,1.768921e+11,1.512949e+05,1.872376,16.950000,2490.621941,6.051200,4945.000000,3.720737e+07,3215.900000
75%,2005.000000,4.676077e+07,4.763048e+11,3.622171e+05,3.682809,38.200000,4104.917635,9.720113,21860.000000,7.416262e+07,4812.600000
max,2010.000000,6.008965e+08,1.458240e+13,7.031916e+06,92.498934,213.000000,12607.839262,37.106499,59210.000000,1.338300e+09,9710.700000

In [22]:
dataco2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country code          1050 non-null   object
 1   Year                  1050 non-null   int64
 2   SP_URB_TOTL           1050 non-null   float64
 3   NY_GDP_MKTP_CD        1037 non-null   float64
 4   EN_ATM_CO2E_KT        938 non-null    float64
 5   BX_KLT_DINV_WD_GD_ZS  1020 non-null   float64
 6   SH_DYN_MORT           1050 non-null   float64
 7   EG_USE_PCAP_KG_OE     1023 non-null   float64
 8   EN_ATM_CO2E_PC        938 non-null    float64
 9   NY_GNP_PCAP_CD        1008 non-null   float64
 10  SP_POP_TOTL           1050 non-null   float64
 11  AG_YLD_CREL_KG        977 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 98.6+ KB

In [23]:
print(dataco2.isnull().count())

Country code            1050
Year                    1050
SP_URB_TOTL             1050
NY_GDP_MKTP_CD          1050
EN_ATM_CO2E_KT          1050
BX_KLT_DINV_WD_GD_ZS    1050
SH_DYN_MORT             1050
EG_USE_PCAP_KG_OE       1050
EN_ATM_CO2E_PC          1050
NY_GNP_PCAP_CD          1050
SP_POP_TOTL             1050
AG_YLD_CREL_KG          1050
dtype: int64

In [24]:
dataco2.loc[ (dataco2['Country code'] == "DEU")].isnull().sum()

Country code            0
Year                    0
SP_URB_TOTL             0
NY_GDP_MKTP_CD          0
EN_ATM_CO2E_KT          2
BX_KLT_DINV_WD_GD_ZS    0
SH_DYN_MORT             0
EG_USE_PCAP_KG_OE       0
EN_ATM_CO2E_PC          2
NY_GNP_PCAP_CD          0
SP_POP_TOTL             0
AG_YLD_CREL_KG          1
dtype: int64

In [25]:
replaced_data = dataco2.loc[ (dataco2['Country code'] == "DEU") ].sort_values('Year').fillna(axis=0, method='ffill')
replaced_data

,Country code,Year,SP_URB_TOTL,NY_GDP_MKTP_CD,EN_ATM_CO2E_KT,BX_KLT_DINV_WD_GD_ZS,SH_DYN_MORT,EG_USE_PCAP_KG_OE,EN_ATM_CO2E_PC,NY_GNP_PCAP_CD,SP_POP_TOTL,AG_YLD_CREL_KG
0,DEU,1990,5.806552e+07,1.714470e+12,55.005,0.175210,8.5,4423.904977,0.000692,20630.0,79433000.0,5411.1
93,DEU,1991,5.852224e+07,1.808603e+12,960992.355,0.262539,8.1,4306.244432,12.010303,22170.0,80014000.0,5986.1
174,DEU,1992,5.900064e+07,2.062142e+12,928326.719,-0.102669,7.6,4194.986381,11.514273,25050.0,80624000.0,5335.6
281,DEU,1993,5.942242e+07,2.004460e+12,911425.516,0.020022,7.2,4127.766450,11.230538,25200.0,81156000.0,5710.5
288,DEU,1994,5.971862e+07,2.146294e+12,903622.140,0.339674,6.8,4090.423929,11.085212,26590.0,81516000.0,5827.5
298,DEU,1995,5.984359e+07,2.522792e+12,901524.616,0.475088,6.5,4128.420568,11.042412,28630.0,81642000.0,6107.6
314,DEU,1996,6.000873e+07,2.438498e+12,924014.327,0.263654,6.2,4252.966440,11.280573,30010.0,81912000.0,6281.8
321,DEU,1997,6.009239e+07,2.160591e+12,900318.173,0.592264,6.0,4208.461868,10.969992,29280.0,82071000.0,6474.9
363,DEU,1998,6.004199e+07,2.184484e+12,895532.738,1.081987,5.7,4184.790303,10.914875,27170.0,82047000.0,6339.1
479,DEU,1999,6.003843e+07,2.143618e+12,824466.278,2.608052,5.6,4088.574732,10.043811,26140.0,82087000.0,6697.6
542,DEU,2000,6.009551e+07,1.900221e+12,832100.972,11.055841,5.4,4102.832502,10.121652,25500.0,82210000.0,6452.8
587,DEU,2001,6.023482e+07,1.890971e+12,855756.789,1.384008,5.2,4219.187240,10.393849,24020.0,82333000.0,7051.9
603,DEU,2002,6.041236e+07,2.016921e+12,830909.197,2.657778,5.1,4111.938951,10.070650,22980.0,82508000.0,6251.4
614,DEU,2003,6.048604e+07,2.442212e+12,835657.962,1.266638,5.0,4144.339153,10.124156,25610.0,82541000.0,5749.0
671,DEU,2004,6.051742e+07,2.745215e+12,828521.980,-0.357091,4.9,4163.334410,10.040713,31010.0,82516250.0,7357.2
681,DEU,2005,6.053254e+07,2.788390e+12,809596.593,1.666656,4.7,4107.002767,9.816933,35080.0,82469400.0,6723.2
745,DEU,2006,6.053022e+07,2.918555e+12,811881.134,1.940829,4.6,4142.239388,9.855743,37400.0,82376451.0,6486.6
811,DEU,2007,6.051514e+07,3.329145e+12,787235.227,2.420818,4.5,4033.168632,9.569344,39450.0,82266372.0,6182.9
959,DEU,2008,6.046588e+07,3.634526e+12,786659.508,0.131693,4.4,4076.282653,9.580545,42680.0,82110097.0,7118.7
995,DEU,2009,6.037838e+07,3.330032e+12,786659.508,1.168638,4.2,3889.132464,9.580545,42410.0,81902307.0,7201.0
1002,DEU,2010,6.029632e+07,3.309669e+12,786659.508,1.393715,4.1,4057.421827,9.580545,43290.0,81702329.0,7201.0

In [26]:
null_rows = dataco2[dataco2['Country code'] == 'DEU'].isnull().any(axis=1)
rows_with_null = dataco2[dataco2['Country code'] == 'DEU'][null_rows]
rows_with_null

,Country code,Year,SP_URB_TOTL,NY_GDP_MKTP_CD,EN_ATM_CO2E_KT,BX_KLT_DINV_WD_GD_ZS,SH_DYN_MORT,EG_USE_PCAP_KG_OE,EN_ATM_CO2E_PC,NY_GNP_PCAP_CD,SP_POP_TOTL,AG_YLD_CREL_KG
995,DEU,2009,6.037838e+07,3.330032e+12,NaN,1.168638,4.2,3889.132464,NaN,42410.0,81902307.0,7201.0
1002,DEU,2010,6.029632e+07,3.309669e+12,NaN,1.393715,4.1,4057.421827,NaN,43290.0,81702329.0,NaN

In [27]:
null_rows = dataco2[dataco2['Country code'] == 'DEU'].isnull().any(axis=1)
rows_with_null = replaced_data[dataco2['Country code'] == 'DEU'][null_rows]
rows_with_null

C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\2385777722.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  rows_with_null = replaced_data[dataco2['Country code'] == 'DEU'][null_rows]

,Country code,Year,SP_URB_TOTL,NY_GDP_MKTP_CD,EN_ATM_CO2E_KT,BX_KLT_DINV_WD_GD_ZS,SH_DYN_MORT,EG_USE_PCAP_KG_OE,EN_ATM_CO2E_PC,NY_GNP_PCAP_CD,SP_POP_TOTL,AG_YLD_CREL_KG
995,DEU,2009,6.037838e+07,3.330032e+12,786659.508,1.168638,4.2,3889.132464,9.580545,42410.0,81902307.0,7201.0
1002,DEU,2010,6.029632e+07,3.309669e+12,786659.508,1.393715,4.1,4057.421827,9.580545,43290.0,81702329.0,7201.0

# Calcule de moyenne (mean)

In [28]:
dataWithCountry = dataco2[dataco2['Country code'] == 'DEU'].sort_values('Year')
dataWithCountry

,Country code,Year,SP_URB_TOTL,NY_GDP_MKTP_CD,EN_ATM_CO2E_KT,BX_KLT_DINV_WD_GD_ZS,SH_DYN_MORT,EG_USE_PCAP_KG_OE,EN_ATM_CO2E_PC,NY_GNP_PCAP_CD,SP_POP_TOTL,AG_YLD_CREL_KG
0,DEU,1990,5.806552e+07,1.714470e+12,55.005,0.175210,8.5,4423.904977,0.000692,20630.0,79433000.0,5411.1
93,DEU,1991,5.852224e+07,1.808603e+12,960992.355,0.262539,8.1,4306.244432,12.010303,22170.0,80014000.0,5986.1
174,DEU,1992,5.900064e+07,2.062142e+12,928326.719,-0.102669,7.6,4194.986381,11.514273,25050.0,80624000.0,5335.6
281,DEU,1993,5.942242e+07,2.004460e+12,911425.516,0.020022,7.2,4127.766450,11.230538,25200.0,81156000.0,5710.5
288,DEU,1994,5.971862e+07,2.146294e+12,903622.140,0.339674,6.8,4090.423929,11.085212,26590.0,81516000.0,5827.5
298,DEU,1995,5.984359e+07,2.522792e+12,901524.616,0.475088,6.5,4128.420568,11.042412,28630.0,81642000.0,6107.6
314,DEU,1996,6.000873e+07,2.438498e+12,924014.327,0.263654,6.2,4252.966440,11.280573,30010.0,81912000.0,6281.8
321,DEU,1997,6.009239e+07,2.160591e+12,900318.173,0.592264,6.0,4208.461868,10.969992,29280.0,82071000.0,6474.9
363,DEU,1998,6.004199e+07,2.184484e+12,895532.738,1.081987,5.7,4184.790303,10.914875,27170.0,82047000.0,6339.1
479,DEU,1999,6.003843e+07,2.143618e+12,824466.278,2.608052,5.6,4088.574732,10.043811,26140.0,82087000.0,6697.6
542,DEU,2000,6.009551e+07,1.900221e+12,832100.972,11.055841,5.4,4102.832502,10.121652,25500.0,82210000.0,6452.8
587,DEU,2001,6.023482e+07,1.890971e+12,855756.789,1.384008,5.2,4219.187240,10.393849,24020.0,82333000.0,7051.9
603,DEU,2002,6.041236e+07,2.016921e+12,830909.197,2.657778,5.1,4111.938951,10.070650,22980.0,82508000.0,6251.4
614,DEU,2003,6.048604e+07,2.442212e+12,835657.962,1.266638,5.0,4144.339153,10.124156,25610.0,82541000.0,5749.0
671,DEU,2004,6.051742e+07,2.745215e+12,828521.980,-0.357091,4.9,4163.334410,10.040713,31010.0,82516250.0,7357.2
681,DEU,2005,6.053254e+07,2.788390e+12,809596.593,1.666656,4.7,4107.002767,9.816933,35080.0,82469400.0,6723.2
745,DEU,2006,6.053022e+07,2.918555e+12,811881.134,1.940829,4.6,4142.239388,9.855743,37400.0,82376451.0,6486.6
811,DEU,2007,6.051514e+07,3.329145e+12,787235.227,2.420818,4.5,4033.168632,9.569344,39450.0,82266372.0,6182.9
959,DEU,2008,6.046588e+07,3.634526e+12,786659.508,0.131693,4.4,4076.282653,9.580545,42680.0,82110097.0,7118.7
995,DEU,2009,6.037838e+07,3.330032e+12,NaN,1.168638,4.2,3889.132464,NaN,42410.0,81902307.0,7201.0
1002,DEU,2010,6.029632e+07,3.309669e+12,NaN,1.393715,4.1,4057.421827,NaN,43290.0,81702329.0,NaN

In [29]:
datawithmean = dataWithCountry.fillna(value=dataco2.mean())
datawithmean

C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\223171074.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean = dataWithCountry.fillna(value=dataco2.mean())

,Country code,Year,SP_URB_TOTL,NY_GDP_MKTP_CD,EN_ATM_CO2E_KT,BX_KLT_DINV_WD_GD_ZS,SH_DYN_MORT,EG_USE_PCAP_KG_OE,EN_ATM_CO2E_PC,NY_GNP_PCAP_CD,SP_POP_TOTL,AG_YLD_CREL_KG
0,DEU,1990,5.806552e+07,1.714470e+12,55.005000,0.175210,8.5,4423.904977,0.000692,20630.0,79433000.0,5411.100000
93,DEU,1991,5.852224e+07,1.808603e+12,960992.355000,0.262539,8.1,4306.244432,12.010303,22170.0,80014000.0,5986.100000
174,DEU,1992,5.900064e+07,2.062142e+12,928326.719000,-0.102669,7.6,4194.986381,11.514273,25050.0,80624000.0,5335.600000
281,DEU,1993,5.942242e+07,2.004460e+12,911425.516000,0.020022,7.2,4127.766450,11.230538,25200.0,81156000.0,5710.500000
288,DEU,1994,5.971862e+07,2.146294e+12,903622.140000,0.339674,6.8,4090.423929,11.085212,26590.0,81516000.0,5827.500000
298,DEU,1995,5.984359e+07,2.522792e+12,901524.616000,0.475088,6.5,4128.420568,11.042412,28630.0,81642000.0,6107.600000
314,DEU,1996,6.000873e+07,2.438498e+12,924014.327000,0.263654,6.2,4252.966440,11.280573,30010.0,81912000.0,6281.800000
321,DEU,1997,6.009239e+07,2.160591e+12,900318.173000,0.592264,6.0,4208.461868,10.969992,29280.0,82071000.0,6474.900000
363,DEU,1998,6.004199e+07,2.184484e+12,895532.738000,1.081987,5.7,4184.790303,10.914875,27170.0,82047000.0,6339.100000
479,DEU,1999,6.003843e+07,2.143618e+12,824466.278000,2.608052,5.6,4088.574732,10.043811,26140.0,82087000.0,6697.600000
542,DEU,2000,6.009551e+07,1.900221e+12,832100.972000,11.055841,5.4,4102.832502,10.121652,25500.0,82210000.0,6452.800000
587,DEU,2001,6.023482e+07,1.890971e+12,855756.789000,1.384008,5.2,4219.187240,10.393849,24020.0,82333000.0,7051.900000
603,DEU,2002,6.041236e+07,2.016921e+12,830909.197000,2.657778,5.1,4111.938951,10.070650,22980.0,82508000.0,6251.400000
614,DEU,2003,6.048604e+07,2.442212e+12,835657.962000,1.266638,5.0,4144.339153,10.124156,25610.0,82541000.0,5749.000000
671,DEU,2004,6.051742e+07,2.745215e+12,828521.980000,-0.357091,4.9,4163.334410,10.040713,31010.0,82516250.0,7357.200000
681,DEU,2005,6.053254e+07,2.788390e+12,809596.593000,1.666656,4.7,4107.002767,9.816933,35080.0,82469400.0,6723.200000
745,DEU,2006,6.053022e+07,2.918555e+12,811881.134000,1.940829,4.6,4142.239388,9.855743,37400.0,82376451.0,6486.600000
811,DEU,2007,6.051514e+07,3.329145e+12,787235.227000,2.420818,4.5,4033.168632,9.569344,39450.0,82266372.0,6182.900000
959,DEU,2008,6.046588e+07,3.634526e+12,786659.508000,0.131693,4.4,4076.282653,9.580545,42680.0,82110097.0,7118.700000
995,DEU,2009,6.037838e+07,3.330032e+12,448675.042217,1.168638,4.2,3889.132464,7.114097,42410.0,81902307.0,7201.000000
1002,DEU,2010,6.029632e+07,3.309669e+12,448675.042217,1.393715,4.1,4057.421827,7.114097,43290.0,81702329.0,3639.041556

In [30]:
null_rows = dataco2[dataco2['Country code'] == 'DEU'].isnull().any(axis=1)
rows_with_null = dataco2[dataco2['Country code'] == 'DEU'][null_rows]
rows_with_null

,Country code,Year,SP_URB_TOTL,NY_GDP_MKTP_CD,EN_ATM_CO2E_KT,BX_KLT_DINV_WD_GD_ZS,SH_DYN_MORT,EG_USE_PCAP_KG_OE,EN_ATM_CO2E_PC,NY_GNP_PCAP_CD,SP_POP_TOTL,AG_YLD_CREL_KG
995,DEU,2009,6.037838e+07,3.330032e+12,NaN,1.168638,4.2,3889.132464,NaN,42410.0,81902307.0,7201.0
1002,DEU,2010,6.029632e+07,3.309669e+12,NaN,1.393715,4.1,4057.421827,NaN,43290.0,81702329.0,NaN

In [31]:
dataco2['EN_ATM_CO2E_KT'].mean()

448675.04221748404

In [32]:
dataco2['AG_YLD_CREL_KG'].mean()

3639.041555783009

In [33]:
dataco2['Country code'].unique().count()

AttributeError: 'numpy.ndarray' object has no attribute 'count'

In [34]:
concatenated_df  = pd.DataFrame()
for code in dataco2['Country code'].unique():
    dataWithCountry = dataco2[dataco2['Country code'] == code].sort_values('Year')
    datawithmean =dataWithCountry.fillna(value=dataco2.mean())
    concatenated_df = pd.concat([concatenated_df, datawithmean])

C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())
C:\Users\echellak\AppData\Local\Temp\1\ipykernel_8388\4205806731.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datawithmean =dataWithCountry.fillna(value=dataco2.mean())

In [35]:
concatenated_df.isnull().sum()

Country code            0
Year                    0
SP_URB_TOTL             0
NY_GDP_MKTP_CD          0
EN_ATM_CO2E_KT          0
BX_KLT_DINV_WD_GD_ZS    0
SH_DYN_MORT             0
EG_USE_PCAP_KG_OE       0
EN_ATM_CO2E_PC          0
NY_GNP_PCAP_CD          0
SP_POP_TOTL             0
AG_YLD_CREL_KG          0
dtype: int64

In [36]:
dataco2.isnull().sum()

Country code              0
Year                      0
SP_URB_TOTL               0
NY_GDP_MKTP_CD           13
EN_ATM_CO2E_KT          112
BX_KLT_DINV_WD_GD_ZS     30
SH_DYN_MORT               0
EG_USE_PCAP_KG_OE        27
EN_ATM_CO2E_PC          112
NY_GNP_PCAP_CD           42
SP_POP_TOTL               0
AG_YLD_CREL_KG           73
dtype: int64